
<form action="/payment/results">
  <label for="apr_id">APR</label>
  <input id="apr_id" name="apr" placeholder="E.g. 5.42"></input><br>
  <label for="year_id">Number of years</label>
  <input id="year_id" name="num_years" placeholder="How many years to repay?"></input><br>
  <label for="principal_id">Principal</label>
  <input id="principal_id" name="principal" placeholder="How much principal?"></input><br>
  <button>Calculate monthly payment</button>
</form>
