
<form action="/random/results">
  <label for="min_id">Minimum</label>
  <input id="min_id" name="minimum" placeholder="E.g. 1.5"></input><br>
  <label for="max_id">Maximum</label>
  <input id="max_id" name="maximum" placeholder="E.g. 4.5"></input><br>
  <button>Pick random number</button>
</form>
