
<form action="/square_root/results">
  <label for="sqrt_id">Enter a number</label>
  <input id="sqrt_id" name="number" placeholder="What number do you want to square root?"></input>
  <button>Calculate square root</button>
</form>
