
<form action="/square/results">
  <label for="square_id">Enter a number</label>
  <input id="square_id" name="number" placeholder="What number do you want to square?"></input>
  <button>Calculate square</button>
</form>
